*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header h1 {
  padding-top: 2em;
  text-align: center;
}

/* // выпадающее меню */
/* Выпадающие подпункты */

nav {
  position: relative;
  background: #444444;
  height: 40px;
  margin: 30px 0;
  padding: 0;
  float: left;
  width: 100%;
  z-index: 10;
}
nav ul {
  clear: left;
  position: relative;
  right: 50%;
  height: 40px;
  float: right;
  text-align: center;
  font: 15px Arial, Helvetica, sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}

/** Основные пункты **/
nav > ul > li {
  position: relative;
  left: 50%;
  float: left;
  height: 40px;
  padding: 0;
  margin: 0;
}
nav > ul > li > a {
  border-left: 1px solid #666;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  line-height: 40px;
}
nav > ul > li:first-child > a {
  border: none;
}
nav > ul > li:hover > a,
nav > ul > li.hover > a,
nav > ul > li.active > a {
  color: #fff;
}
nav > ul > li:hover,
nav > ul > li.hover,
nav > ul > li.active {
  background: #666;
}

/* Выпадающие подпункты */
nav ul li ul {
  position: absolute;
  left: 0;
  top: 40px;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}
nav > ul > li ul li {
  background-color: #666;
  position: relative;
  left: 0;
  display: list-item;
  float: none;
  height: auto;
  margin: 0;
  text-align: left;
}
nav ul li ul li a {
  border-bottom: 1px solid #999;
  display: block;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
}
nav ul li ul li a {
  position: relative;
}

nav ul li ul li:hover,
nav ul li ul li.hover {
  background-color: #444;
}
nav ul li:hover ul,
nav ul li.hover ul {
  display: block;
}

/*  */

section {
  text-align: center;
  margin-left: auto;
  background: rgb(223, 220, 220);
  padding: 0 5em 0 5em;
}

p,
h2 {
  padding-top: 2em;
}

p {
  font-size: 1.3em;
}

.content {
  text-align: left;
}

/* footer */

footer {
  position: relative;
  background: #444444;
  height: 40px;
  margin: 30px 0;
  padding: 0;
  float: left;
  width: 100%;
  z-index: 10;
}

footer {
  font-size: 1.3em;
  text-align: center;
  color: #fff;
  padding: 1em 0 2em 0;
}
